.drop {
    @include animation (drop 2s ease infinite);
}

@include keyframes(dropIn) {
    0% {
        opacity: 0;
        @include translateY(-100%);
    }
    100% {
        opacity: 1;
        @include translateY(0px);
    }
}

.dropIn {
    @include animation (dropIn 1s ease infinite);
}

@include keyframes(dropOut) {
    0% {
        opacity: 1;
        @include translateY(0px);
    }
    100% {
        opacity: 0;
        @include translateY(100%);
    }
}

.dropOut {
    @include animation (dropOut 1s ease 0s infinite);
}

@include keyframes(barcode) {
    0% {
        background-position: 100% 100%;
    }
    10% {
        opacity: 1;
    }
    100% {
        background-position: 0% 0%;
    }
}