@include keyframes(gradientAnim) {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.gradientAnim {
    background: linear-gradient(106deg, #315db7, #b76d31);
    background-size: 400% 400%;
    @include animation(gradientAnim 30s ease infinite);
}

@include keyframes(Gradient) {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.animGradientVOM {
    background: linear-gradient(-45deg, var(--valencia), var(--yellow), var(--purple));
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}

.animGradientcharcoal {
    background: linear-gradient(-45deg, var(--slate-gray), var(--charcoal), var(--charcoal-dark));
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}

.animGradientPurple {
    background: linear-gradient(-45deg, var(--purple-light), var(--purple), var(--purple-dark));
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}

.animGradient {
    background: linear-gradient(-45deg, var(--valencia), var(--purple));
    background-size: 400% 400%;
    @include animation (Gradient 15s ease infinite);
}