.page-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: var(--charcoal);

	&.fadeIn {
		z-index: #{$zindex-dropdown};
	}

	&.fadeOut {
		z-index: -9999;
	}

	>img {
		width: 300px;
		height: 300px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}


.searching-server {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	background-color: var(--charcoal);
	z-index: #{$zindex-dropdown};

	.signal-pop {
		height: 0;
		width: 0;
		box-sizing: border-box;
		border-radius: 50%;
		@extend %posAbsolute;
		top: 50%;
		left: 50%;
		border: 0 solid var(--yellow-alpha8);
		@include translate(-50%, -50%);
		@include animation (bubble-pop 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1));
	}

	.signal-label {
		height: 60px;
		line-height: 60px;
		font-size: 16px;
		font-weight: 600;
		word-break: normal;
		text-align: center;
		letter-spacing: 5px;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-transform: uppercase;
		z-index: #{$zindex-dropdown};
		color: var(--white);
	}
}

#lightbox,
.lb-loader {
	text-align: center;
	line-height: 0
}

.common-spinner *,
.common-spinner :after,
.common-spinner :before {
	box-sizing: border-box;
}

.common-spinner {
	@extend %posRelative;
	margin: -70px auto 125px;
	display: block;
	width: 63px;
	top: 50vh
}

.sheath {
	@extend %posAbsolute;
	transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%
}

.segment {
	background-color: #fff;
	border-radius: 35px;
	height: 8px;
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	width: 23px
}

.sheath:nth-child(1) {
	animation: segment-orbit-1 1.62s infinite linear, segment-opacity-1 1.012s infinite linear;
	transform: rotate(-30deg) translate(30px);
}

.sheath:nth-child(1) .segment {
	animation: segment-scale-1 1.012s infinite linear;
}

.sheath:nth-child(2) {
	animation: segment-orbit-2 1.62s infinite linear, segment-opacity-2 1.012s infinite linear;
	transform: rotate(-60deg) translate(30px);
}

.sheath:nth-child(2) .segment {
	animation: segment-scale-2 1.012s infinite linear;
}

.sheath:nth-child(3) {
	animation: segment-orbit-3 1.62s infinite linear, segment-opacity-3 1.012s infinite linear;
	transform: rotate(-90deg) translate(30px);
}

.sheath:nth-child(3) .segment {
	animation: segment-scale-3 1.012s infinite linear;
}

.sheath:nth-child(4) {
	animation: segment-orbit-4 1.62s infinite linear, segment-opacity-4 1.012s infinite linear;
	transform: rotate(-120deg) translate(30px);
}

.sheath:nth-child(4) .segment {
	animation: segment-scale-4 1.012s infinite linear;
}

.sheath:nth-child(5) {
	animation: segment-orbit-5 1.62s infinite linear, segment-opacity-5 1.012s infinite linear;
	transform: rotate(-150deg) translate(30px);
}

.sheath:nth-child(5) .segment {
	animation: segment-scale-5 1.012s infinite linear;
}

.sheath:nth-child(6) {
	animation: segment-orbit-6 1.62s infinite linear, segment-opacity-6 1.012s infinite linear;
	transform: rotate(-180deg) translate(30px);
}

.sheath:nth-child(6) .segment {
	animation: segment-scale-6 1.012s infinite linear;
}

.sheath:nth-child(7) {
	animation: segment-orbit-7 1.62s infinite linear, segment-opacity-7 1.012s infinite linear;
	transform: rotate(-210deg) translate(30px);
}

.sheath:nth-child(7) .segment {
	animation: segment-scale-7 1.012s infinite linear;
}

.sheath:nth-child(8) {
	animation: segment-orbit-8 1.62s infinite linear, segment-opacity-8 1.012s infinite linear;
	transform: rotate(-240deg) translate(30px);
}

.sheath:nth-child(8) .segment {
	animation: segment-scale-8 1.012s infinite linear;
}

.sheath:nth-child(9) {
	animation: segment-orbit-9 1.62s infinite linear, segment-opacity-9 1.012s infinite linear;
	transform: rotate(-270deg) translate(30px);
}

.sheath:nth-child(9) .segment {
	animation: segment-scale-9 1.012s infinite linear;
}

.sheath:nth-child(10) {
	animation: segment-orbit-10 1.62s infinite linear, segment-opacity-10 1.012s infinite linear;
	transform: rotate(-300deg) translate(30px);
}

.sheath:nth-child(10) .segment {
	animation: segment-scale-10 1.012s infinite linear;
}

.sheath:nth-child(11) {
	animation: segment-orbit-11 1.62s infinite linear, segment-opacity-11 1.012s infinite linear;
	transform: rotate(-330deg) translate(30px);
}

.sheath:nth-child(11) .segment {
	animation: segment-scale-11 1.012s infinite linear;
}

.sheath:nth-child(12) {
	animation: segment-orbit-12 1.62s infinite linear, segment-opacity-12 1.012s infinite linear;
	transform: rotate(-360deg) translate(30px);
}

.sheath:nth-child(12) .segment {
	animation: segment-scale-12 1.012s infinite linear;
}

@include keyframes(segment-orbit-1) {
	from {
		transform: rotate(30deg) translate(30px)
	}

	50% {
		transform: rotate(210deg) translate(36px)
	}

	to {
		transform: rotate(390deg) translate(30px)
	}
}

@include keyframes(segment-orbit-2) {
	from {
		transform: rotate(60deg) translate(30px)
	}

	50% {
		transform: rotate(240deg) translate(36px)
	}

	to {
		transform: rotate(420deg) translate(30px)
	}
}

@include keyframes(segment-orbit-3) {
	from {
		transform: rotate(90deg) translate(30px)
	}

	50% {
		transform: rotate(270deg) translate(36px)
	}

	to {
		transform: rotate(450deg) translate(30px)
	}
}

@include keyframes(segment-orbit-4) {
	from {
		transform: rotate(120deg) translate(30px)
	}

	50% {
		transform: rotate(300deg) translate(36px)
	}

	to {
		transform: rotate(480deg) translate(30px)
	}
}

@include keyframes(segment-orbit-5) {
	from {
		transform: rotate(150deg) translate(30px)
	}

	50% {
		transform: rotate(330deg) translate(36px)
	}

	to {
		transform: rotate(510deg) translate(30px)
	}
}

@include keyframes(segment-orbit-6) {
	from {
		transform: rotate(180deg) translate(30px)
	}

	50% {
		transform: rotate(360deg) translate(36px)
	}

	to {
		transform: rotate(540deg) translate(30px)
	}
}

@include keyframes(segment-orbit-7) {
	from {
		transform: rotate(210deg) translate(30px)
	}

	50% {
		transform: rotate(390deg) translate(36px)
	}

	to {
		transform: rotate(570deg) translate(30px)
	}
}

@include keyframes(segment-orbit-8) {
	from {
		transform: rotate(240deg) translate(30px)
	}

	50% {
		transform: rotate(420deg) translate(36px)
	}

	to {
		transform: rotate(600deg) translate(30px)
	}
}

@include keyframes(segment-orbit-9) {
	from {
		transform: rotate(270deg) translate(30px)
	}

	50% {
		transform: rotate(450deg) translate(36px)
	}

	to {
		transform: rotate(630deg) translate(30px)
	}
}


@include keyframes(segment-orbit-10) {
	from {
		transform: rotate(300deg) translate(30px)
	}

	50% {
		transform: rotate(480deg) translate(36px)
	}

	to {
		transform: rotate(660deg) translate(30px)
	}
}

@include keyframes(segment-orbit-11) {
	from {
		transform: rotate(330deg) translate(30px)
	}

	50% {
		transform: rotate(510deg) translate(36px)
	}

	to {
		transform: rotate(690deg) translate(30px)
	}
}

@include keyframes(segment-orbit-12) {
	from {
		transform: rotate(360deg) translate(30px)
	}

	50% {
		transform: rotate(540deg) translate(36px)
	}

	to {
		transform: rotate(720deg) translate(30px)
	}
}

@include keyframes(segment-scale-12) {
	0% {
		transform: scaleX(1)
	}

	8.33333% {
		transform: scaleX(.93333)
	}

	16.66667% {
		transform: scaleX(.86667)
	}

	25% {
		transform: scaleX(.8)
	}

	33.33333% {
		transform: scaleX(.73333)
	}

	41.66667% {
		transform: scaleX(.66667)
	}

	50% {
		transform: scaleX(.6)
	}

	58.33333% {
		transform: scaleX(.53333)
	}

	66.66667% {
		transform: scaleX(.46667)
	}

	75% {
		transform: scaleX(.4)
	}

	83.33333% {
		transform: scaleX(.33333)
	}

	91.66667% {
		transform: scaleX(.26667)
	}

	100% {
		transform: scaleX(1)
	}
}

@include keyframes(segment-scale-11) {
	0% {
		transform: scaleX(.93333)
	}

	8.33333% {
		transform: scaleX(.86667)
	}

	16.66667% {
		transform: scaleX(.8)
	}

	25% {
		transform: scaleX(.73333)
	}

	33.33333% {
		transform: scaleX(.66667)
	}

	41.66667% {
		transform: scaleX(.6)
	}

	50% {
		transform: scaleX(.53333)
	}

	58.33333% {
		transform: scaleX(.46667)
	}

	66.66667% {
		transform: scaleX(.4)
	}

	75% {
		transform: scaleX(.33333)
	}

	83.33333% {
		transform: scaleX(.26667)
	}

	91.66667% {
		transform: scaleX(1)
	}

	100% {
		transform: scaleX(.93333)
	}
}

@include keyframes(segment-scale-10) {
	0% {
		transform: scaleX(.86667)
	}

	8.33333% {
		transform: scaleX(.8)
	}

	16.66667% {
		transform: scaleX(.73333)
	}

	25% {
		transform: scaleX(.66667)
	}

	33.33333% {
		transform: scaleX(.6)
	}

	41.66667% {
		transform: scaleX(.53333)
	}

	50% {
		transform: scaleX(.46667)
	}

	58.33333% {
		transform: scaleX(.4)
	}

	66.66667% {
		transform: scaleX(.33333)
	}

	75% {
		transform: scaleX(.26667)
	}

	83.33333% {
		transform: scaleX(1)
	}

	91.66667% {
		transform: scaleX(.93333)
	}

	100% {
		transform: scaleX(.86667)
	}
}

@include keyframes(segment-scale-9) {
	0% {
		transform: scaleX(.8)
	}

	8.33333% {
		transform: scaleX(.73333)
	}

	16.66667% {
		transform: scaleX(.66667)
	}

	25% {
		transform: scaleX(.6)
	}

	33.33333% {
		transform: scaleX(.53333)
	}

	41.66667% {
		transform: scaleX(.46667)
	}

	50% {
		transform: scaleX(.4)
	}

	58.33333% {
		transform: scaleX(.33333)
	}

	66.66667% {
		transform: scaleX(.26667)
	}

	75% {
		transform: scaleX(1)
	}

	83.33333% {
		transform: scaleX(.93333)
	}

	91.66667% {
		transform: scaleX(.86667)
	}

	100% {
		transform: scaleX(.8)
	}
}

@include keyframes(segment-scale-8) {
	0% {
		transform: scaleX(.73333)
	}

	8.33333% {
		transform: scaleX(.66667)
	}

	16.66667% {
		transform: scaleX(.6)
	}

	25% {
		transform: scaleX(.53333)
	}

	33.33333% {
		transform: scaleX(.46667)
	}

	41.66667% {
		transform: scaleX(.4)
	}

	50% {
		transform: scaleX(.33333)
	}

	58.33333% {
		transform: scaleX(.26667)
	}

	66.66667% {
		transform: scaleX(1)
	}

	75% {
		transform: scaleX(.93333)
	}

	83.33333% {
		transform: scaleX(.86667)
	}

	91.66667% {
		transform: scaleX(.8)
	}

	100% {
		transform: scaleX(.73333)
	}
}

@include keyframes(segment-scale-7) {
	0% {
		transform: scaleX(.66667)
	}

	8.33333% {
		transform: scaleX(.6)
	}

	16.66667% {
		transform: scaleX(.53333)
	}

	25% {
		transform: scaleX(.46667)
	}

	33.33333% {
		transform: scaleX(.4)
	}

	41.66667% {
		transform: scaleX(.33333)
	}

	50% {
		transform: scaleX(.26667)
	}

	58.33333% {
		transform: scaleX(1)
	}

	66.66667% {
		transform: scaleX(.93333)
	}

	75% {
		transform: scaleX(.86667)
	}

	83.33333% {
		transform: scaleX(.8)
	}

	91.66667% {
		transform: scaleX(.73333)
	}

	100% {
		transform: scaleX(.66667)
	}
}

@include keyframes(segment-scale-6) {
	0% {
		transform: scaleX(.6)
	}

	8.33333% {
		transform: scaleX(.53333)
	}

	16.66667% {
		transform: scaleX(.46667)
	}

	25% {
		transform: scaleX(.4)
	}

	33.33333% {
		transform: scaleX(.33333)
	}

	41.66667% {
		transform: scaleX(.26667)
	}

	50% {
		transform: scaleX(1)
	}

	58.33333% {
		transform: scaleX(.93333)
	}

	66.66667% {
		transform: scaleX(.86667)
	}

	75% {
		transform: scaleX(.8)
	}

	83.33333% {
		transform: scaleX(.73333)
	}

	91.66667% {
		transform: scaleX(.66667)
	}

	100% {
		transform: scaleX(.6)
	}
}


@include keyframes(segment-scale-5) {
	0% {
		transform: scaleX(.53333)
	}

	8.33333% {
		transform: scaleX(.46667)
	}

	16.66667% {
		transform: scaleX(.4)
	}

	25% {
		transform: scaleX(.33333)
	}

	33.33333% {
		transform: scaleX(.26667)
	}

	41.66667% {
		transform: scaleX(1)
	}

	50% {
		transform: scaleX(.93333)
	}

	58.33333% {
		transform: scaleX(.86667)
	}

	66.66667% {
		transform: scaleX(.8)
	}

	75% {
		transform: scaleX(.73333)
	}

	83.33333% {
		transform: scaleX(.66667)
	}

	91.66667% {
		transform: scaleX(.6)
	}

	100% {
		transform: scaleX(.53333)
	}
}

@include keyframes(segment-scale-4) {
	0% {
		transform: scaleX(.46667)
	}

	8.33333% {
		transform: scaleX(.4)
	}

	16.66667% {
		transform: scaleX(.33333)
	}

	25% {
		transform: scaleX(.26667)
	}

	33.33333% {
		transform: scaleX(1)
	}

	41.66667% {
		transform: scaleX(.93333)
	}

	50% {
		transform: scaleX(.86667)
	}

	58.33333% {
		transform: scaleX(.8)
	}

	66.66667% {
		transform: scaleX(.73333)
	}

	75% {
		transform: scaleX(.66667)
	}

	83.33333% {
		transform: scaleX(.6)
	}

	91.66667% {
		transform: scaleX(.53333)
	}

	100% {
		transform: scaleX(.46667)
	}
}

@include keyframes(segment-scale-3) {
	0% {
		transform: scaleX(.4)
	}

	8.33333% {
		transform: scaleX(.33333)
	}

	16.66667% {
		transform: scaleX(.26667)
	}

	25% {
		transform: scaleX(1)
	}

	33.33333% {
		transform: scaleX(.93333)
	}

	41.66667% {
		transform: scaleX(.86667)
	}

	50% {
		transform: scaleX(.8)
	}

	58.33333% {
		transform: scaleX(.73333)
	}

	66.66667% {
		transform: scaleX(.66667)
	}

	75% {
		transform: scaleX(.6)
	}

	83.33333% {
		transform: scaleX(.53333)
	}

	91.66667% {
		transform: scaleX(.46667)
	}

	100% {
		transform: scaleX(.4)
	}
}

@include keyframes(segment-scale-2) {
	0% {
		transform: scaleX(.33333)
	}

	8.33333% {
		transform: scaleX(.26667)
	}

	16.66667% {
		transform: scaleX(1)
	}

	25% {
		transform: scaleX(.93333)
	}

	33.33333% {
		transform: scaleX(.86667)
	}

	41.66667% {
		transform: scaleX(.8)
	}

	50% {
		transform: scaleX(.73333)
	}

	58.33333% {
		transform: scaleX(.66667)
	}

	66.66667% {
		transform: scaleX(.6)
	}

	75% {
		transform: scaleX(.53333)
	}

	83.33333% {
		transform: scaleX(.46667)
	}

	91.66667% {
		transform: scaleX(.4)
	}

	100% {
		transform: scaleX(.33333)
	}
}

@include keyframes(segment-scale-1) {
	0% {
		transform: scaleX(.26667)
	}

	8.33333% {
		transform: scaleX(1)
	}

	16.66667% {
		transform: scaleX(.93333)
	}

	25% {
		transform: scaleX(.86667)
	}

	33.33333% {
		transform: scaleX(.8)
	}

	41.66667% {
		transform: scaleX(.73333)
	}

	50% {
		transform: scaleX(.66667)
	}

	58.33333% {
		transform: scaleX(.6)
	}

	66.66667% {
		transform: scaleX(.53333)
	}

	75% {
		transform: scaleX(.46667)
	}

	83.33333% {
		transform: scaleX(.4)
	}

	91.66667% {
		transform: scaleX(.33333)
	}

	100% {
		transform: scaleX(.26667)
	}
}

@include keyframes(segment-opacity-12) {
	0% {
		opacity: 1
	}

	8.33333% {
		opacity: .93333
	}

	16.66667% {
		opacity: .86667
	}

	25% {
		opacity: .8
	}

	33.33333% {
		opacity: .73333
	}

	41.66667% {
		opacity: .66667
	}

	50% {
		opacity: .6
	}

	58.33333% {
		opacity: .53333
	}

	66.66667% {
		opacity: .46667
	}

	75% {
		opacity: .4
	}

	83.33333% {
		opacity: .33333
	}

	91.66667% {
		opacity: .26667
	}

	100% {
		opacity: 1
	}
}

@include keyframes(segment-opacity-11) {
	0% {
		opacity: .93333
	}

	8.33333% {
		opacity: .86667
	}

	16.66667% {
		opacity: .8
	}

	25% {
		opacity: .73333
	}

	33.33333% {
		opacity: .66667
	}

	41.66667% {
		opacity: .6
	}

	50% {
		opacity: .53333
	}

	58.33333% {
		opacity: .46667
	}

	66.66667% {
		opacity: .4
	}

	75% {
		opacity: .33333
	}

	83.33333% {
		opacity: .26667
	}

	91.66667% {
		opacity: 1
	}

	100% {
		opacity: .93333
	}
}

@include keyframes(segment-opacity-10) {
	0% {
		opacity: .86667
	}

	8.33333% {
		opacity: .8
	}

	16.66667% {
		opacity: .73333
	}

	25% {
		opacity: .66667
	}

	33.33333% {
		opacity: .6
	}

	41.66667% {
		opacity: .53333
	}

	50% {
		opacity: .46667
	}

	58.33333% {
		opacity: .4
	}

	66.66667% {
		opacity: .33333
	}

	75% {
		opacity: .26667
	}

	83.33333% {
		opacity: 1
	}

	91.66667% {
		opacity: .93333
	}

	100% {
		opacity: .86667
	}
}

@include keyframes(segment-opacity-9) {
	0% {
		opacity: .8
	}

	8.33333% {
		opacity: .73333
	}

	16.66667% {
		opacity: .66667
	}

	25% {
		opacity: .6
	}

	33.33333% {
		opacity: .53333
	}

	41.66667% {
		opacity: .46667
	}

	50% {
		opacity: .4
	}

	58.33333% {
		opacity: .33333
	}

	66.66667% {
		opacity: .26667
	}

	75% {
		opacity: 1
	}

	83.33333% {
		opacity: .933333
	}

	91.66667% {
		opacity: .86667
	}

	100% {
		opacity: .8
	}
}

@include keyframes(segment-opacity-8) {
	0% {
		opacity: .73333
	}

	8.33333% {
		opacity: .66667
	}

	16.66667% {
		opacity: .6
	}

	25% {
		opacity: .53333
	}

	33.33333% {
		opacity: .46667
	}

	41.66667% {
		opacity: .4
	}

	50% {
		opacity: .33333
	}

	58.33333% {
		opacity: .26667
	}

	66.66667% {
		opacity: 1
	}

	75% {
		opacity: .93333
	}

	83.33333% {
		opacity: .86667
	}

	91.66667% {
		opacity: .8
	}

	100% {
		opacity: .73333
	}
}

@include keyframes(segment-opacity-7) {
	0% {
		opacity: .66667
	}

	8.33333% {
		opacity: .6
	}

	16.66667% {
		opacity: .53333
	}

	25% {
		opacity: .46667
	}

	33.33333% {
		opacity: .4
	}

	41.66667% {
		opacity: .33333
	}

	50% {
		opacity: .26667
	}

	58.33333% {
		opacity: 1
	}

	66.66667% {
		opacity: .93333
	}

	75% {
		opacity: .86667
	}

	83.33333% {
		opacity: .8
	}

	91.66667% {
		opacity: .73333
	}

	100% {
		opacity: .66667
	}
}

@include keyframes(segment-opacity-6) {
	0% {
		opacity: .6
	}

	8.33333% {
		opacity: .53333
	}

	16.66667% {
		opacity: .46667
	}

	25% {
		opacity: .4
	}

	33.33333% {
		opacity: .33333
	}

	41.66667% {
		opacity: .26667
	}

	50% {
		opacity: 1
	}

	58.33333% {
		opacity: .93333
	}

	66.66667% {
		opacity: .86667
	}

	75% {
		opacity: .8
	}

	83.33333% {
		opacity: .73333
	}

	91.66667% {
		acity: .66667
	}

	100% {
		opacity: .6
	}
}

@include keyframes(segment-opacity-5) {
	0% {
		opacity: .53333
	}

	8.33333% {
		opacity: .46667
	}

	16.66667% {
		opacity: .4
	}

	25% {
		opacity: .33333
	}

	33.33333% {
		opacity: .26667
	}

	41.66667% {
		opacity: 1
	}

	50% {
		opacity: .93333
	}

	58.33333% {
		opacity: .86667
	}

	66.66667% {
		opacity: .8
	}

	75% {
		opacity: .73333
	}

	83.33333% {
		opacity: .66667
	}

	91.66667% {
		opacity: .6
	}

	100% {
		opacity: .53333
	}
}

@include keyframes(segment-opacity-4) {
	0% {
		opacity: .46667
	}

	8.33333% {
		opacity: .4
	}

	16.66667% {
		opacity: .33333
	}

	25% {
		opacity: .26667
	}

	33.33333% {
		opacity: 1
	}

	41.66667% {
		opacity: .93333
	}

	50% {
		opacity: .86667
	}

	58.33333% {
		opacity: .8
	}

	66.66667% {
		opacity: .73333
	}

	75% {
		opacity: .66667
	}

	83.33333% {
		opacity: .6
	}

	91.66667% {
		opacity: .53333
	}

	100% {
		opacity: .46667
	}
}

@include keyframes(segment-opacity-3) {
	0% {
		opacity: .4
	}

	8.33333% {
		opacity: .33333
	}

	16.66667% {
		opacity: .26667
	}

	25% {
		opacity: 1
	}

	33.33333% {
		opacity: .93333
	}

	41.66667% {
		opacity: .86667
	}

	50% {
		opacity: .8
	}

	58.33333% {
		opacity: .73333
	}

	66.66667% {
		opacity: .66667
	}

	75% {
		opacity: .6
	}

	83.33333% {
		opacity: .53333
	}

	91.66667% {
		opacity: .46667
	}

	100% {
		opacity: .4
	}
}

@include keyframes(segment-opacity-2) {
	0% {
		opacity: .33333
	}

	8.33333% {
		opacity: .26667
	}

	16.66667% {
		opacity: 1
	}

	25% {
		opacity: .93333
	}

	33.33333% {
		opacity: .86667
	}

	41.66667% {
		opacity: .8
	}

	50% {
		opacity: .73333
	}

	58.33333% {
		opacity: .66667
	}

	66.66667% {
		opacity: .6
	}

	75% {
		opacity: .53333
	}

	83.33333% {
		opacity: .46667
	}

	91.66667% {
		opacity: .4
	}

	100% {
		opacity: .33333
	}
}

@include keyframes(segment-opacity-1) {
	0% {
		opacity: .26667
	}

	8.33333% {
		opacity: 1
	}

	16.66667% {
		opacity: .93333
	}

	25% {
		opacity: .86667
	}

	33.33333% {
		opacity: .8
	}

	41.66667% {
		opacity: .73333
	}

	50% {
		opacity: .66667
	}

	58.33333% {
		opacity: .6
	}

	66.66667% {
		opacity: .53333
	}

	75% {
		opacity: .46667
	}

	83.33333% {
		opacity: .4
	}

	91.66667% {
		opacity: .33333
	}

	100% {
		opacity: .26667
	}
}

.common-spinner-overlay {
	position: fixed;
	width: 100%;
	height: 120%;
	background-color: rgba(0, 0, 0, .3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}
