@include keyframes(rotate) {
	0%,
	7.5% {
		transform: rotate(0deg);
	}
	12.5%,
	20% {
		transform: rotate(45deg);
	}
	25%,
	32.5% {
		transform: rotate(90deg);
	}
	37.5%,
	45% {
		transform: rotate(135deg);
	}
	50%,
	57.5% {
		transform: rotate(180deg);
	}
	62.5%,
	70% {
		transform: rotate(225deg);
	}
	75%,
	82.5% {
		transform: rotate(270deg);
	}
	87.5%,
	95% {
		transform: rotate(315deg);
	}
	100% {
		transform: rotate(360deg);
	}
}