@include keyframes(signal) {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
.signal {
    -webkit-animation: signal .5s infinite alternate ease-in-out;
    -moz-animation: signal .5s infinite alternate ease-in-out;
    -ms-animation: signal .5s infinite alternate ease-in-out;
    -o-animation: signal .5s infinite alternate ease-in-out;
    animation: signal .5s infinite alternate ease-in-out
}


#signals {
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
    display:block;
    z-index:-1;
    span {
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
        opacity:0;
        border-width:2px;
        border-style: solid;
        @include animation(signal .5s infinite alternate ease-in-out);
        &.s1 {
            width:80px;
            height:80px;
            left:-10px;
            -webkit-animation-delay:.3s;
            -moz-animation-delay:.3s;
            -ms-animation-delay:.3s;
            -o-animation-delay:.3s;
            animation-delay:.3s
        }
        &.s2 {
            width:90px;
            height:90px;
            left:-15px;
            -webkit-animation-delay:.6s;
            -moz-animation-delay:.6s;
            -ms-animation-delay:.6s;
            -o-animation-delay:.6s;
            animation-delay:.6s
        }
        &.s3 {
            width:100px;
            height:100px;
            left:-20px;
            -webkit-animation-delay:.9s;
            -moz-animation-delay:.9s;
            -ms-animation-delay:.9s;
            -o-animation-delay:.9s;
            animation-delay:.9s
        }
    }
}