@include keyframes(vibrate) {
	0% { transform: translate3d(0em, 0, 0); }
	2% { transform: translate3d(0.01em, 0, 0); }
	4% { transform: translate3d(-0.01em, 0, 0); }
	6% { transform: translate3d(0.01em, 0, 0); }
	8% { transform: translate3d(-0.01em, 0, 0); }
	10% { transform: translate3d(0.01em, 0, 0); }
	12% { transform: translate3d(-0.01em, 0, 0); }
	14% { transform: translate3d(0.01em, 0, 0); }
	16% { transform: translate3d(-0.01em, 0, 0); }
	18% { transform: translate3d(0.01em, 0, 0); }
	20% { transform: translate3d(-0.01em, 0, 0); }
	22% { transform: translate3d(0.01em, 0, 0); }
	24% { transform: translate3d(-0.01em, 0, 0); }
	26% { transform: translate3d(0.01em, 0, 0); }
	28% { transform: translate3d(-0.01em, 0, 0); }
	30% { transform: translate3d(0.01em, 0, 0); }
	32% { transform: translate3d(-0.01em, 0, 0); }
	34% { transform: translate3d(0.01em, 0, 0); }
	36% { transform: translate3d(-0.01em, 0, 0); }
	38% { transform: translate3d(0.01em, 0, 0); }
	40% { transform: translate3d(-0.01em, 0, 0); }
	42% { transform: translate3d(0.01em, 0, 0); }
	44% { transform: translate3d(-0.01em, 0, 0); }
	46% { transform: translate3d(0em, 0, 0); }
}
.vibrate {
	transform: translate3d(0, 0, 0);
	@include animation(vibrate 3000ms infinite);
}



@include keyframes(vibration) {
    0.50%, 90% {
		@include transform(translate3d(-0.5px, 0, 0));
    }
    0.50%, 80% {
		@include transform(translate3d(0.5px, 0, 0));
    }
    30%, 50%, 70% {
	@include transform(translate3d(-0.5px, 0, 0));
    }
    0.50%, 60% {
		@include transform(translate3d(0.5px, 0, 0));
    }
}
.vibration {
    @include animation(vibrate 0.32s cubic-bezier(.36, .07, .19, .97) infinite);
    @include transform(translate3d(0, 0, 0));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 300px;
    perspective: 300px;
}
