/* ------ Navbar Styling Starts ----- */

.navbar {
	font-size: 14px;
	font-family: 'Nunito';
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 25px;
	letter-spacing: 1px;
	height: 80px;
}

.navbar-default {
	transition: all 0.6s ease;
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-radius: 0px;
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #666666;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
	padding: 4px 6px;
	font-size: 16px;
	color: #111111;
}

.navbar-default .navbar-brand {
	font-family: 'Nunito';
	font-size: 21px;
	font-weight: 700;
	color: #41cd52;
	letter-spacing: 0;
	line-height: 1;
	text-transform: none;
	padding: 15px;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.navbar-default .navbar-brand:hover {
	color: #111111;
	transition: 1s;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Nunito';
	font-size: 15px;
	font-weight: 700;
	text-transform: capitalize;
	color: #b3b3b3;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5;
	transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #41cd52;
}

.navbar-default .navbar-nav > .active > a {
	background: transparent;
	color: #41cd52;
}

.navbar-default .navbar-nav > .active > a:hover {
	background: transparent;
	color: #41cd52;
}

.navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
	color: #41cd52;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
	background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
	color: #111111;
}

.navbar-default .nav-white > li > a {
	color: #ffffff;
}

.navbar-default .nav-white > li > a:hover {
	color: #efefef;
}

.navbar-default .nav-white {
	color: #ffffff;
}

.navbar .btn-nav {
	background: #41cd52;
	color: #ffffff;
	border-radius: 0.7rem;
	box-shadow: 0 3px 10px rgba(65, 205, 82, 0.5);
	padding: 0.5rem 1.5rem;
	margin-left: 1.5rem !important;
	margin-top: 0.4rem;
	transition: all 0.3s ease-in-out;
}

.navbar .btn-nav span {
	font-family: 'Nunito';
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.navbar .btn-nav:hover {
	background: #41cd52 !important;
	color: #ffffff;
	border-color: #41cd52 !important;
	box-shadow: 0 5px 10px rgba(65, 205, 82, 0.5);
}

/*---------- Media Queries ---------*/

@media only screen and (max-width: 767px) {
	.navbar {
		padding-top: 5px;
		height: 60px;
	}

	.navbar-default {
		border: 0px;
		background-color: transparent;
	}

	.navbar-default .navbar-collapse {
		text-align: center;
		border-color: transparent;
		background-color: #ffffff;
	}

	.navbar-default .navbar-collapse {
		border: 0;
		border-color: transparent;
	}

	.navbar-default .navbar-nav > li > a {
		color: #111111;
		margin-top: 10px;
	}

	.navbar-default .navbar-nav > li > a:hover {
		color: #222222;
	}

	.navbar-default .navbar-brand {
		color: #41cd52;
		padding: 15px 15px !important;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #41cd52;
	}

	.navbar .btn-nav {
		margin-left: 0 !important;
	}
}

@media only screen and (min-width: 240px) {
	.navbar.past-main {
		transition: all 0.6s ease;
		height: 50px;
		background-color: rgba(255, 255, 255, 0.99);
	}

	.navbar.effect-main:active {
		-webkit-transition: height 0.6s; /* For Safari 3.1 to 6.0 */
		transition: height 0.6s;
		height: 60px;
	}

	.navbar.past-main {
		font-size: 14px;
		padding-top: 5px;
		height: 60px;
		-webkit-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
		-moz-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
		box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
		-webkit-transition: 0.5s all ease; /* For Safari 3.1 to 6.0 */
		transition: 0.5s all ease;
	}

	.navbar-default.past-main .navbar-brand {
		color: #41cd52;
		padding: 15px;
	}

	.navbar-default.past-main .navbar-toggle .icon-bar {
		background-color: #41cd52;
	}

	.navbar-default.past-main .navbar-nav > li > a {
		color: #606060;
		-webkit-transition: color 0.5s;
		transition: color 0.5s;
	}

	.navbar-default.past-main .navbar-nav > li > a:hover {
		color: #41cd52;
	}

	.navbar-default.past-main .navbar-nav > .active > a {
		background: transparent;
		color: #41cd52;
	}

	.navbar-default.past-main .navbar-nav > .active > a:hover {
		background: transparent;
		color: #41cd52;
	}

	.navbar-default.past-main .navbar-nav > .active > a:focus {
		background: transparent;
		color: #41cd52;
	}

	.navbar-default.past-main .btn-nav {
		visibility: visible !important;
	}

	.nav-alt.past-main .navbar-nav .btn-edge {
		color: #ffffff;
	}

	.nav-alt.past-main .navbar-nav .btn-edge:hover {
		color: #ffffff;
	}
}

/* ------------- Navbar Alt Styling --------------*/

.nav-alt .navbar-nav > li > a {
	font-family: 'Josefin Sans';
	font-size: 16px;
	color: #444444;
	text-transform: capitalize;
}

.nav-alt .navbar-nav > li > a:hover {
	color: #111111;
}

.nav-alt .navbar-nav .btn-edge {
	margin: 8px 0 0 0;
	padding: 6px 15px;
	border-radius: 3px;
	background: #624dd6;
	border-color: #624dd6;
	color: #ffffff;
	font-size: 16px;
}

.nav-alt .navbar-nav .btn-edge:hover {
	background: #624dd6;
	color: #ffffff;
}

.nav-alt .navbar-nav .btn-edge:focus {
	background: #624dd6;
	color: #ffffff !important;
}