/*  --------------------------------------------------
------------- Reviews Section Styling ----------------
-----------------------------------------------------*/

.review-section {
	padding: 50px 0 50px 0;
	text-align: center;
	background: #ffffff;
}

.reviews {
	width: 100%;
	padding: 50px 0 50px 0;
}

.review-single img {
	width: 80px;
	height: 80px;
}

.review-text h3 {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 1.5;
	color: #232323;
}

.review-text .ion {
	display: inline-block;
	margin-top: 20px;
	font-size: 14px;
	color: #ff8000;
}

.review-text p {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	padding: 20px 10px 20px 10px;
	line-height: 1.5;
	color: #848484;
}

/*--------------- Review Sm Styling Starts ------------------ */

.review-sm {
	background: #ffffff;
}

.review-sm .reviews {
	width: 100%;
	padding: 0;
}

.review-sm p {
	font-family: 'Josefin Sans';
	font-size: 28px;
	font-weight: 300;
	padding: 20px 10px 20px 10px;
	line-height: 1.5;
	color: #848484;
}

.review-sm .review-text h3 {
	font-family: 'Josefin Sans';
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.5;
	color: #444444;
}