/*  --------------------------------------------------
------------- Pricing Section Styling ----------------
-----------------------------------------------------*/

.pricing {
	padding: 50px 0 100px 0;
}

.pricing-content {
	padding: 60px 0 0 0;
	text-align: center;
}

.pricing h1 {
	font-size: 28px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 1.2;
}

.pricing h4 {
	font-size: 14px;
	font-weight: 400;
	color: #a1a1a1;
	margin: 10px 0 30px 0;
}

.pricing p {
	font-family: 'Nunito';
	font-size: 14px;
	font-weight: 400;
	color: #444444;
	line-height: 1.4;
}

.pricing .btn-buy {
	padding: 40px 0 20px 0;
}

.pricing .btn-buy img {
	display: inline;
}

.pricing .price-tag h2 {
	font-family: 'Josefin Sans';
	font-size: 24px;
	font-weight: 400;
	color: #a1a1a1;
	margin: 0 0 20px 0;
}

/* ----- Pricing Tables Styling Starts ----- */

.pricing-section {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #ffffff;
}

.pricing-intro {
	padding-bottom: 30px;
}

.pricing-intro h1 {
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	line-height: 1.4;
}

.pricing-intro p {
	font-size: 15px;
	color: #303030;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.pricing-section .table-left,
.pricing-section .table-right {
	padding: 20px 20px 50px 20px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
	border: transparent;
	max-width: 400px;
}

.table-left .icon,
.table-right .icon {
	padding: 50px 50px 40px 50px;
}

.table-left .icon img,
.table-right .icon img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.table-left .pricing-details span,
.table-right .pricing-details span {
	display: inline-block;
	font-family: 'Nunito';
	font-size: 28px;
	font-weight: 400;
	color: #808080;
	margin-bottom: 20px;
}

.table-left .pricing-details h2,
.table-right .pricing-details h2 {
	font-size: 18px;
	font-weight: 600;
	color: #505050;
	margin-bottom: 30px;
}

.table-left .pricing-details p,
.table-right .pricing-details p {
	font-family: 'Nunito';
	font-size: 14px;
	font-weight: 300;
	color: #505050;
	letter-spacing: 1px;
	line-height: 1.4;
}

.table-left .pricing-details ul,
.table-right .pricing-details ul {
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 0;
}

.table-left .pricing-details li,
.table-right .pricing-details li {
	font-family: 'Nunito';
	font-size: 14px;
	font-weight: 400;
	color: #505050;
	line-height: 1.4;
	margin-bottom: 10px;
}

.pricing-section .table-left:hover,
.pricing-section .table-right:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.pricing-section .table-left,
.pricing-section .table-right {
	margin-top: 20px;
}

.pricing-section .table-center {
	margin-top: 0;
}

/*----------------------------------------------------------------
-------------------- Pricing V2 Styling Starts -------------------
----------------------------------------------------------------*/

.pricing-v2 {
	padding: 50px 0 50px 0;
	background: #f8f8f8;
}

.pricing-v2 .intro {
	padding: 50px 0 50px 0;
}

.pricing-v2 .intro h4 {
	font-family: 'Nunito';
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.pricing-v2 .intro h1 {
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 20px;
}

.pricing-v2 .intro p {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
	color: #848484;
	margin-bottom: 20px;
}

.pricing-v2 .intro p:nth-child(4) {
	font-size: 13px;
}

.pricing-v2 .intro a {
	color: #41cd52;
	text-decoration: none;
}

.pricing-v2 .table-left,
.pricing-v2 .table-right {
	padding: 50px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
	border: transparent;
	border-radius: 10px;
	max-width: 400px;
}

.pricing-v2 .table-left .pricing-details ul,
.pricing-v2 .table-right .pricing-details ul {
	margin-bottom: 10px;
}

.pricing-v2 .btn-action span {
	font-family: 'Nunito';
	font-size: 12px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 1px;
	color: #ffffff;
	display: inline;
}

.pricing-v2 .btn-action:focus {
	background: #41cd52;
	outline: none;
	border-color: #41cd52;
}
