/*--------------------------------------------------------------
----------------- Subscribe Form  Stying Starts ----------------
--------------------------------------------------------------*/

.cta-2 {
	background: #ffffff;
	width: 100%;
	padding: 100px 0 100px 0;
}

.cta-2-inner h1 {
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 300;
	line-height: 1.4;
	color: #252525;
	margin-bottom: 20px;
}

.cta-2-inner p {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	color: #222222;
	margin-bottom: 10px;
}

.subform {
	padding-top: 30px;
}

.formee {
	position: relative;
}

.formee .mail {
	position: relative;
	background-color: #f9f9f9;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	transition: all 0.3s;
}

.formee input {
	color: #222222;
	font-family: 'Nunito';
	padding: 0;
	font-size: 0.9em;
	height: 40px;
	border: 2px solid #f2f2f2;
	border-radius: 5px 0 0 5px;
	border-color: #f2f2f2;
	background-color: #f3f3f3;
	outline: none;
	padding: 0 100px 0 20px;
}

.formee input:focus {
	border: 2px solid #fff;
	border-color: #f2f2f2;
}

.formee .right {
	height: 40px;
	border: 2px solid #41cd52;
	border-radius: 0 5px 5px 0;
	margin: 0;
	padding: 0 25px 0 25px;
	background-color: #41cd52;
	color: #ffffff;
	box-shadow: 0 0 1px transparent;
	outline: none;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
}

.formee .right:focus {
	border: 2px solid #41cd52;
}

#email-error {
	position: absolute;
	left: 10%;
	top: 150%;
	font-family: 'Nunito';
	font-size: 14px;
	color: #ff0000;
}

#response {
	color: #333333;
	font-family: 'Nunito';
	margin-top: 30px;
	font-size: 14px;
	line-height: 1.4;
}

.main-2 .cta-2 {
	background: #f2f2f2;
}

.main-2 .formee input {
	background-color: #ffffff;
	border-color: #ffffff;
}

.main-2 .formee .right {
	background-color: #41cd52;
}