@font-face {
    font-family: 'New York Small Regular';
    src: url('../fonts/NewYorkSmall-Regular.eot');
    src: local('New York Small Regular'), local('NewYorkSmall-Regular'),
        url('../fonts/NewYorkSmall-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-Regular.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-Regular.woff') format('woff'),
        url('../fonts/NewYorkSmall-Regular.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-Regular.svg#NewYorkSmall-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small Medium';
    src: url('../fonts/NewYorkSmall-Medium.eot');
    src: local('New York Small Medium'), local('NewYorkSmall-Medium'),
        url('../fonts/NewYorkSmall-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-Medium.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-Medium.woff') format('woff'),
        url('../fonts/NewYorkSmall-Medium.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-Medium.svg#NewYorkSmall-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small Semibold';
    src: url('../fonts/NewYorkSmall-Semibold.eot');
    src: local('New York Small Semibold'), local('NewYorkSmall-Semibold'),
        url('../fonts/NewYorkSmall-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-Semibold.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-Semibold.woff') format('woff'),
        url('../fonts/NewYorkSmall-Semibold.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-Semibold.svg#NewYorkSmall-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small Bold';
    src: url('../fonts/NewYorkSmall-Bold.eot');
    src: local('New York Small Bold'), local('NewYorkSmall-Bold'),
        url('../fonts/NewYorkSmall-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-Bold.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-Bold.woff') format('woff'),
        url('../fonts/NewYorkSmall-Bold.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-Bold.svg#NewYorkSmall-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small Black';
    src: url('../fonts/NewYorkSmall-Black.eot');
    src: local('New York Small Black'), local('NewYorkSmall-Black'),
        url('../fonts/NewYorkSmall-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-Black.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-Black.woff') format('woff'),
        url('../fonts/NewYorkSmall-Black.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-Black.svg#NewYorkSmall-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small Heavy';
    src: url('../fonts/NewYorkSmall-Heavy.eot');
    src: local('New York Small Heavy'), local('NewYorkSmall-Heavy'),
        url('../fonts/NewYorkSmall-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-Heavy.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-Heavy.woff') format('woff'),
        url('../fonts/NewYorkSmall-Heavy.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-Heavy.svg#NewYorkSmall-Heavy') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small RegularItalic';
    src: url('../fonts/NewYorkSmall-RegularItalic.eot');
    src: local('New York Small RegularItalic'), local('NewYorkSmall-RegularItalic'),
        url('../fonts/NewYorkSmall-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-RegularItalic.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-RegularItalic.woff') format('woff'),
        url('../fonts/NewYorkSmall-RegularItalic.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-RegularItalic.svg#NewYorkSmall-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'New York Small MediumItalic';
    src: url('../fonts/NewYorkSmall-MediumItalic.eot');
    src: local('New York Small MediumItalic'), local('NewYorkSmall-MediumItalic'),
        url('../fonts/NewYorkSmall-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-MediumItalic.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-MediumItalic.woff') format('woff'),
        url('../fonts/NewYorkSmall-MediumItalic.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-MediumItalic.svg#NewYorkSmall-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'New York Small SemiboldItalic';
    src: url('../fonts/NewYorkSmall-SemiboldItalic.eot');
    src: local('New York Small SemiboldItalic'), local('NewYorkSmall-SemiboldItalic'),
        url('../fonts/NewYorkSmall-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-SemiboldItalic.woff') format('woff'),
        url('../fonts/NewYorkSmall-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-SemiboldItalic.svg#NewYorkSmall-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'New York Small BoldItalic';
    src: url('../fonts/NewYorkSmall-BoldItalic.eot');
    src: local('New York Small BoldItalic'), local('NewYorkSmall-BoldItalic'),
        url('../fonts/NewYorkSmall-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-BoldItalic.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-BoldItalic.woff') format('woff'),
        url('../fonts/NewYorkSmall-BoldItalic.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-BoldItalic.svg#NewYorkSmall-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'New York Small BlackItalic';
    src: url('../fonts/NewYorkSmall-BlackItalic.eot');
    src: local('New York Small BlackItalic'), local('NewYorkSmall-BlackItalic'),
        url('../fonts/NewYorkSmall-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-BlackItalic.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-BlackItalic.woff') format('woff'),
        url('../fonts/NewYorkSmall-BlackItalic.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-BlackItalic.svg#NewYorkSmall-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'New York Small HeavyItalic';
    src: url('../fonts/NewYorkSmall-HeavyItalic.eot');
    src: local('New York Small HeavyItalic'), local('NewYorkSmall-HeavyItalic'),
        url('../fonts/NewYorkSmall-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYorkSmall-HeavyItalic.woff2') format('woff2'),
        url('../fonts/NewYorkSmall-HeavyItalic.woff') format('woff'),
        url('../fonts/NewYorkSmall-HeavyItalic.ttf') format('truetype'),
        url('../fonts/NewYorkSmall-HeavyItalic.svg#NewYorkSmall-HeavyItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}













