h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito';
	font-size: 16px;
}

a { cursor: pointer; }

p {
	font-family: 'Open Sans';
	font-size: 14px;
}

.mbh-custom-btn {
	/*background-color: transparent !important; */
	border-color: #ff8960 !important;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0) !important;
	background-image: linear-gradient(
		to right,
		rgba(255, 98, 165, 1),
		rgba(255, 137, 96, 1),
		#ff8960
	) !important; /*linear-gradient(to right, #FF62A5, #FF8960) !important;*/
}
.mbh-title {
	color: #ff8960 !important;
}
.mbh-app-image {
	background-color: transparent !important;
}
